* {
    padding: 0;
    margin: 0;
}

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    background-color: hsl(216, 12%, 8%);
}

body {
    display: block;
    margin: 0rem 35rem 0rem 35rem;
    padding: 0rem 3rem 0rem 3rem;
    border-radius: 2rem;
    max-width: 375vw;
    background-color: hsl(213, 19%, 18%);
}

/* empieza secciones */

header {
    display: flex;
    /* display: none; */
    flex-direction: column;
    text-align: left;
    padding: 3rem 0rem 2rem 0rem;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem 0rem 0rem;
}

.rating {
    display: grid;
    /* display: none; */
    grid-template-areas: "form";
    grid-template-columns: 1fr;
}

.answer {
    /* display: grid; */
    display: none;
    grid-template-areas: "form";
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr;
    /* padding: 3rem; */
}

/* termina secciones */

.answer img {

    background-color: transparent;
    border-radius: 0;
}

img {
    padding: 3%;
    border-radius: 50%;
    background-color: hsla(217, 12%, 63%, 0.208);
}

h2 {
    color: white;
    padding: 2rem 0rem 1rem 0rem;
}

.answer h2 {
    margin-bottom: 1rem;
    padding: 0rem;
}

.header .rating-response {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: hsla(217, 12%, 63%, 0.085);
    border-radius: 5rem;
    font-size: small;
    margin: 1rem 0rem 1.5rem 0rem;
    padding: 0.3rem 0.8rem 0.2rem 0.8rem;
    color: hsl(25, 97%, 53%);
    width: 200px;
    gap: 0.2rem;
}

.header .rating-response .respuesta {

    color: hsl(25, 97%, 53%);
}

p {
    color: hsl(217, 12%, 63%);
}



form {
    display: flex;
    grid-area: form;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.rating form div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 3%;
    border-radius: 50%;
    background-color: hsla(217, 12%, 63%, 0.208);
    font-size: 100%;
    font-weight: 700;
}

label {
    padding: 2.2rem;
    border-radius: 8rem;
}

.rating form div:hover {
    background-color: white;
}

.attribution{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 11px;
    text-align: center;
    color: hsl(228, 45%, 44%);
}

button {
    font-family: "Overpass", sans-serif;
    margin-top: 1.5rem;
    padding: 0.8rem;
    font-size: 17px;
    border-radius: 2rem;
    font-weight: 850;
    letter-spacing: 2px;
    background-color: hsl(25, 97%, 53%);
}

button:hover {
    background-color: white;
}

@media(min-width: 100px) and (max-width:480px) {
    body {
        margin: 2rem;
        padding: 0rem 2rem 0rem 2rem;
    }

    form {
        justify-content: space-between;
        gap: 15px;
        padding: 0;
        margin: 0;
    }
}

@media(min-width: 481px) and (max-width: 768px) {
    body {
        margin: 0rem 7rem 0rem 7rem;
        padding: 0rem 3rem 0rem 3rem;
    }

    form {
        justify-content: space-between;
        gap: 15px;
        padding: 0;
        margin: 0;
    }
}

@media(min-width: 769px) and (max-width: 1280px) {
    body {
        margin: 0rem 25rem 0rem 25rem;
        padding: 0rem 3rem 0rem 3rem;
    }

    header {
        text-align: center;
    }

    form {
        justify-content: space-between;
        gap: 15px;
        padding: 0;
        margin: 0;
    }
}